<launch>


  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find rrrbot_files)/rrrbot.xacro'" />

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rrrbot_files)/rrrbot.rviz"/>



  <!-- Include gazebo launch file rrbot_world.launch -->
  <include file="$(find rrrbot_files)/rrrbot_world.launch" />

  <!-- Include ros_control launch file to load joint position controllers -->
  <include file="$(find rrrbot_files)/rrrbot_control.launch" />

  <!-- Create node to control joint positions using joint controller -->
  <node name="rrrbot_joint_positions_node" pkg="rrrbot_files" type="rrrbot_position_controller.py" output="screen" respawn="true" />


</launch>
